<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DanceProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
    </system.web>


  <appSettings>
    <add key="EmailAdress" value="2021danceproject@gmail.com"/>
    <add key="EmailPassword" value="danProject21"/>
    
  </appSettings>
  <applicationSettings>
    <DanceProject.Properties.Settings>
      <setting name="DanceProject_localhost_WebService1" serializeAs="String">
        <value>http://localhost:50985/WebService1.asmx</value>
      </setting>
    </DanceProject.Properties.Settings>
  </applicationSettings>
</configuration>
